# Папка с кэшами, временными файлами и сборками
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки окружений
env/
venv/
.venv/
ENV/

# Файлы конфигурации IDE
.idea/
.vscode/
*.sublime-*

# Файлы системных временных записей
*.log
*.tmp

# Папка с дистрибутивом библиотеки
dist/
build/

# Установка зависимостей
*.egg-info/

# Прочие временные и специальные файлы
.DS_Store
Thumbs.db

# Операционные системы
*.sqlite3